dist: xenial
sudo: required
services:
- docker
language: go
go:
- 1.13.x

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh

script:
- make test
- make vet
- make website-test
- travis_wait 50 make testacc

branches:
  only:
  - master
matrix:
  fast_finish: true
  allow_failures:
  - go: tip
env:
  global:
  - GOFLAGS=-mod=vendor
   # GRIDSCALE_URL, GRIDSCALE_UUID, GRIDSCALE_TOKEN variables for testacc target
  - secure: gI0Zff01MPTMNuFW3ETZwXdNOPRsWDkPHxCOeT2JHRwgDtITTJ3KGoRo8OEsp/l72NF59+ht/n1jiRd3vHJpT7SIY4rcjLUw2MJI57C8qIaG81j7WJcB8DRD5aVDOIYkxEYDOtlPkKqlJp8jfBotwkyjexRMjpIGYjFM2QAeEVcSACasndfjJOIfON38JOn208Zr0L2YUVnhdXdQZm1nboiiimEOLkrkngAA416CAxOOWuyvzwjqTUKBh8tWxOuiumgWjTYGS4uqFOP6UWMnt/KQPqDNmucZ2BuHbrjeXTpOIQ3rimXS5MB5NNIjbw2iDYJz3GXaiR0zK+L+yw51IiJYHB6ski5ytGLR0puziewzwly6vYN0codIGDhB0ILKCMNWUflRf7GNYzjP/xBPZJm5kNWr8+ACmsP5upcw5DbRaSS1RkFSJJDuGPZb3t2mvy7dmB6jLUHfQy9eLwE2PQw5coUklMQOk+1nScHoKwBQzsJiKJyzZWh4bB17p+2GxNPPdRkW4ZBzboVad8gpWY/0HqzpDb86Ef87qoRAGFlcqro8IJwkVidjJg/9FoVk8jEovktpFYXIHatgjazpt24lusNjf1/ff3gQL4XKJlXMpFtitr+lFCz2eYPKcHMLrXoGEp2LoI64u9QHKLR0b0vmfcZOx+DVmSmjZsKrGa8=
  - secure: acTMIO1TDvH1ucKJ4zkRYLS2qGVdaUEVlSDVucn1pFXT9ifzns/F1pXhPBdPHzLCdlllOqMqLh0q/fkamD5jiMGaIz2krXpMCtFUQHdZItc7rR5XjzbFaDfSuFNTrpzNvNe8glCA3qcUNZfPv1ctsmP2FTs3gqeuiK/0vTKrLS9U8OfP9D7IbWopOHzhIVWEpml1H5fMRZvsejN2RpFRTku7VRqCX29GZ+JZgpLdI+2johSjVbn74fldajzXVc0WJXuIipb/Y4ISgglxAdpX4klOecdLRJeZaEP1equyxH8VWJmXK9jZS1oWpJ35IigZWoSarJ4qd8fl1jwRORy3yW6SyclJOft3pD2SkiyjZC3y9+f1c+ty7TuQklO1XAKEXP1oWvfUJjd1B+IzesrV91+gJepvCoHNxrJEGxALaKnvLKxpZmu9fiCRRYirS+0ImhOZr8UZS3+/MuPvfssg+awVrLAnL9XxHGMi88JODft46y8R3o8lUXnAp0uwP+9p7Y8V4rTP/5rb603WJts51eLbxU4trZP8VsGBGQHUkivvOVLPSmyKFvqJ4LdX32wisSuArhSguEM7no13ZZOAGhLviuOkwZ4RWP56b6HZsWGxlH4UQf7eDgqG1eA9uletaP8c7Dd+ZwHuBqOjqQVJTL6wNlXQN93YpN6LmUyIHA8=
  - secure: B3lbm5nW+TlBpZTSm2Bt2NnvyF3iPrh07LzO3mI7JU/QohAwqFaGrO9HGm7ntWy2bWPwtUgsIfBplPjnJX1hM9MFOJgV5aDCpCcWduTNcaSPF9Y8N4ktF7mMA5EmqZpz440U8NdaP66MQkquVwb/sfpSAasPp5Ul6ypjouQ8WS86t378Br+tcVB6jvV/FNJv0irteYvJ2sr5EtQy3XHZY8wKJ8yFqtsY2XmN+qeEGAW1CRbgSDysZgSQ5CjGMXG2sC/KJ4BLEYcwTc8/lCmEo89LEiIpHetlsQ+5sT6pkcrdENxgVHXsGgL02Oqy03k0ZtQ6Ol2VEZE6IZX1fATpBLkCWAkq1RAVOUhRqUJfUqqCkak7x3oa/+BTYzVjfjZuW1JU7A8PLV8u052GH+AzTsM8PkxARWJxmHQ7z3sXIrinwuoDUpVFbgv4j5bYpcKzwfYya6RWG31vw+2grMGXeAIp23A7JCtgFf1xCwLaSzIpCWXOpU/csfPer6j9mcakt92/1VP5ZOYD6a1Fm/YVPx2kn+r/nwhmvfhp+S/pA3g8oN2DsRWzl/SFGbli6/tMjCFbUdurEHhiYSwIWpBwK+sFreW3y+4TExx/wDFiTuMVqdhlcQe75Le6b6SY6MgZw6rcgqSJQgnF8TaIxnLGGvFA1gjwao05koDnZVHL1Qw=
