name: Build

on:
  push:
    tags:
      - "*"

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.RELEASE_SIGNING_KEY }}
          passphrase: ${{ secrets.RELEASE_SIGNING_KEY_PASSPHRASE }}

      - name: Build executable files
        env:
          GPG_FINGERPRINT: oss@gridscale.io
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          go install github.com/goreleaser/goreleaser@v1.16.2
          export PATH="./bin:$PATH"
          goreleaser release --clean
