name: Run common test

on:
  push:
    branches:
      - master
      - 'legacy/version-*'
  pull_request:
    branches:
      - master
      - 'legacy/version-*'

jobs:
  build:
    name: Common Test
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
    steps:
      - name: Set up Go 1.24
        uses: actions/setup-go@v6
        with:
          go-version: ^1.24
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Test
        run: make test

      - name: Vet
        run: make vet
