name: Test ISO image ds/rs

on:
  push:
    tags:
      - "*"
    paths:
      - "**gridscale_isoimage**"
      - "gridscale/error-handler/**"
      - "common.go"
      - "config.go"
      - "provider.go"
      - "provider_test.go"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        run: make test

      - name: Vet
        run: make vet

      - name: Run TestAccDataSourceISOImage_basic
        env:
          GRIDSCALE_UUID: ${{ secrets.CI_USER_UUID }}
          GRIDSCALE_TOKEN: ${{ secrets.CI_API_TOKEN }}
          GRIDSCALE_URL: https://api.gridscale.cloud
        run: make testacc TEST=./gridscale TESTARGS='-run=TestAccDataSourceISOImage_basic'

      - name: Run TestAccResourceGridscaleISOImage_Basic
        env:
          GRIDSCALE_UUID: ${{ secrets.CI_USER_UUID }}
          GRIDSCALE_TOKEN: ${{ secrets.CI_API_TOKEN }}
          GRIDSCALE_URL: https://api.gridscale.cloud
        run: make testacc TEST=./gridscale TESTARGS='-run=TestAccResourceGridscaleISOImage_Basic'
