name: Test k8s rs

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 'legacy/version-*'
    paths:
      - "**.go"
      - ".github/workflows/k8s.yml"
  pull_request:
    branches:
      - master
      - 'legacy/version-*'
    paths:
      - "**gridscale_k8s**"
      - "gridscale/error-handler/**"
      - "gridscale/common.go"
      - "gridscale/config.go"
      - "gridscale/provider.go"
      - "gridscale/provider_test.go"
      - ".github/workflows/k8s.yml"

jobs:
  build:
    name: GS k8s AccTest
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
      GRIDSCALE_UUID: ${{ secrets.CI_USER_UUID }}
      GRIDSCALE_TOKEN: ${{ secrets.CI_API_TOKEN }}
      GRIDSCALE_URL: ${{ secrets.CI_API_URL }}
      GRIDSCALE_TF_REQUEST_DELAY_INTERVAL: 2000
      GRIDSCALE_TF_MAX_N_RETRIES: 5
    steps:
      - name: Set up Go 1.24
        uses: actions/setup-go@v6
        with:
          go-version: ^1.24
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Run TestAccResourceGridscaleK8sBasic
        run: make testacc TEST=./gridscale TESTARGS='-run=TestAccResourceGridscaleK8sBasic'
