name: Test MySQL8_0 rs

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - ".github/workflows/mysql.yml"
  pull_request:
    branches:
      - master
    paths:
      - "**gridscale_mysql**"
      - "gridscale/error-handler/**"
      - "gridscale/common.go"
      - "gridscale/config.go"
      - "gridscale/provider.go"
      - "gridscale/provider_test.go"
      - ".github/workflows/mysql.yml"

jobs:
  build:
    name: GS MySQL AccTest
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
      GRIDSCALE_UUID: ${{ secrets.CI_USER_UUID }}
      GRIDSCALE_TOKEN: ${{ secrets.CI_API_TOKEN }}
      GRIDSCALE_URL: ${{ secrets.CI_API_URL }}
      GRIDSCALE_TF_REQUEST_DELAY_INTERVAL: 2000
      GRIDSCALE_TF_MAX_N_RETRIES: 5
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v5
        with:
          go-version: ^1.21
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Run TestAccResourceGridscaleMySQL8_0_Basic
        run: make testacc TEST=./gridscale TESTARGS='-run=TestAccResourceGridscaleMySQL8_0_Basic'
